.App {
  text-align: center;
  background-color: var(--color-background);
}

.App-header {
  background-color: var(--color-background-header);
  text-align: center;
  font-size: calc(8px + 2vmin);
  color: var(--color-primary);
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 30px;
  z-index: 10;
}

#contentChat{
  margin: 18px;
  margin-top: 50px;
  line-height: 1.5 !important;
}

#content {
  margin: var(--margin-primary);
  margin-top: 50px;
}

#contentLeft {
  float: left;
  min-width: 47%;
  margin-bottom: 20px;
}

#contentRight {
  display: flex;
  flex-direction: column;
  float: left;
  min-width: 47%;
  text-align: center;
}

#description{
  color: var(--color--secondary-text);
  float: center;
  text-align: center;
}

#recordsInfo{
  color: var(--color-primary);
  font-weight: 800;
  float: center;
  text-align: center;
  margin: 50px;
}

#operationBlockBig {
  width: fit-content;
  /*margin-bottom: 50px;*/
}

.operationName {
  color: var(--color--secondary-text);
}

.operationBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: var(--margin-primary);
  border: solid;
  border-width: 0px;
  border-bottom-width: 2px;
  border-color: var(--color--secondary-text);
  padding-bottom: 20px;
}

.operationBlockPart {
  display: inline;
  /*margin-top: var(--margin-secondary);*/
}

.operationElement {
  border-radius: 5%;
  margin: var(--margin-secondary);
  min-height: 40px;
  min-width: 60px;
}

.inputElement {
  min-width: 250px;
  /*border-color: var(--color-primary) !important;*/
}

.buttonElement {
  color: var(--color-primary);
  background-color: var(--color-background-header);
  border-color: var(--color-background-header);
  min-height: 40px;
  text-align: center;
  font-size: 14px;
}


:root {
  --color-background: #303031;
  --color-background-header: #0f0f0f;
  --color-primary: #61dafb;
  --color--secondary-text: #B0B3B8;
  --margin-primary: 10px;
  --margin-secondary: 5px;
}

.popupInner{
  border-radius: 1%;
  /* width: fit-content;
  height: fit-content; */
}

.css-2b097c-container{
  width: 250px;
  margin-left: 5px;
  margin-bottom: 10px;
  outline: none !important;
}

.css-yk16xz-control{
  /*min-height: 25px  !important;*/
  /*border-width: 2px !important;
  border-color: var(--color-primary) !important;*/
  border-radius: 5% !important;
  /*outline: none !important;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  z-index: 5;
}
.popupInner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  padding-top: 15px;
  text-align: center;
}

.blockFormer{
  width: 100%;
  padding: 5px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#msgBlock{
  margin-top: 16px;
}

#webSocketH{
  color: var(--color--secondary-text);
  letter-spacing: normal;
  font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
  /* --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}

.author{
  color: var(--color-primary);
  margin-right: 5px;
}

.message{
  color: var(--color--secondary-text);
}

#createMsgBlock{
  margin-top: 15px;
}

.textareaElement{
  height: 40px;
  min-height: 40px;
  min-width: 250px;
  float: left;
  margin-right: 5px;
  margin-bottom: 10px;
  resize: both;
}

#title{
  float: left;
  width: 90%;
}

#links{
  float: right;
  width: 10%;
}

a{
  text-decoration: none;
  color: var(--color-primary);
  margin-right: 5px;
}